<section class="fuild-container main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="padding:0px 60px 0px 0px;">
                <h1 class="topbanner-heading">Are You Starving ?</h1>
                <h2 class="topbanner-subheading">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</h2>

                <button mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Order Now</button>
            </div>
            <div class="col-md-6" style="padding:0px 60px 0px 0px;"style="padding:0px 0px 0px 60px;">
                <div class="img-landing-banner">
                    <img src="https://technext.github.io/foodwagon/v1.0.0/assets/img/gallery/hero-header.png" class="topbanner-img"/>
                </div>
               
            </div>
        </div>
    </div>
</section>
<section class="container discount-container">
       <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div style="position: relative;">
                    <img class="card-img-top" src="https://technext.github.io/foodwagon/v1.0.0/assets/img/gallery/discount-item-1.png" alt="Card image cap">
                    <div class="discount-container-off">
                        <div>
                            <h1 class="discount-heading">15</h1>
                        </div>
                        <div>
                            <h2 class="discount-percentage">%</h2>
                            <h2 class="discount-off">off</h2>
                        </div>                        
                    </div>
                </div>
                
                <div class="card-body">
                  <h5 class="discount-name">Flat Hill Slingback</h5>
                  <h5 class="remaining-days">6 days Remaining</h5>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div style="position: relative;">
                    <img class="card-img-top" src="https://technext.github.io/foodwagon/v1.0.0/assets/img/gallery/discount-item-1.png" alt="Card image cap">
                    <div class="discount-container-off">
                        <div>
                            <h1 class="discount-heading">15</h1>
                        </div>
                        <div>
                            <h2 class="discount-percentage">%</h2>
                            <h2 class="discount-off">off</h2>
                        </div>                        
                    </div>
                </div>
                
                <div class="card-body">
                    <h5 class="discount-name">Ocean BLue Ring</h5>
                    <h5 class="remaining-days">6 days Remaining</h5>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div style="position: relative;">
                    <img class="card-img-top" src="https://technext.github.io/foodwagon/v1.0.0/assets/img/gallery/discount-item-1.png" alt="Card image cap">
                    <div class="discount-container-off">
                        <div>
                            <h1 class="discount-heading">15</h1>
                        </div>
                        <div>
                            <h2 class="discount-percentage">%</h2>
                            <h2 class="discount-off">off</h2>
                        </div>                        
                    </div>
                </div>
                
                <div class="card-body">
                    <h5 class="discount-name">Brown Leatherre wallet</h5>
                    <h5 class="remaining-days">6 days Remaining</h5>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div style="position: relative;">
                    <img class="card-img-top" src="https://technext.github.io/foodwagon/v1.0.0/assets/img/gallery/discount-item-1.png" alt="Card image cap">
                    <div class="discount-container-off">
                        <div>
                            <h1 class="discount-heading">15</h1>
                        </div>
                        <div>
                            <h2 class="discount-percentage">%</h2>
                            <h2 class="discount-off">off</h2>
                        </div>                        
                    </div>
                </div>
                
                <div class="card-body">
                    <h5 class="discount-name">Silverside Wristwatch</h5>
                    <h5 class="remaining-days">6 days Remaining</h5>
                </div>
              </div>
        </div>
                 
       </div>
</section>


