.main-container{
    background-color: #ffb30e;
    padding: 8% 0px 4% 0px;
   
}
.topbanner-heading{
    color: white;
    font-size: 52px;
    padding: 20px 0px;
    font-weight:900;
    font-family: 'Poppins', sans-serif;
}
.topbanner-subheading{
    font-size: 18px;
    padding: 20px 0px;
    font-family: 'Poppins', sans-serif;
}
.topbanner-img{
    z-index: 1;
    width: 100%;
}
.img-landing-banner {
 
    transform: translateY(-3rem);
    margin-bottom: -20rem;
    transition: transform 0.4s ease;
}
.img-landing-banner:hover, .img-landing-banner:focus {
    transform: translateY(-6rem);
   
}

// Discount aera
.discount-container{
    padding: 40px 0px;
    position: relative;
    z-index: 2;
    background-color: white;
}
.card-img-top{
    border-radius: 20px;

}
.discount-container-off{
    background-color: #ffb30e;
    position: absolute;
    bottom: 0;
    padding: 20px 15px 15px 15px;
    display: flex;
    align-items: center;
    border-radius: 0px 20px 0px 20px;
}
.discount-heading{
    color: #ffff;
    font-weight: bolder;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;

}
.discount-percentage{
    line-height: 1px;
    color: #ffff;
    font-family: 'Poppins', sans-serif;

}
.discount-off{
    line-height: 1px;
    color: #ffff;
    font-family: 'Poppins', sans-serif;

}
.discount-name{
    font-weight: 600;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.remaining-days{
    color: #ffb30e;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

