<nav class=" navbar navbar-expand-lg bg-body-tertiary stroke">


    <div class="container">
      <img src="./assets/images/logo.png"  class=" navbar-brand logo"/>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink=""
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="shop"
              >Shop</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="employers"
              >About Us</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="candidate"
              >Contact Us</a
            >
          </li>


          <!-- <ng-container *ngIf="isCompany">


          <li class="nav-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="Nice"
              >Nice staff</a
            >
          </li>
        </ng-container> -->



          <!-- <li class="nav-item" *ngIf="isAuth && isCompany">
            <a mat-icon-button [matMenuTriggerFor]="Companymenu"> <mat-icon>account_circle</mat-icon></a>
          </li>

          <li class="nav-item" *ngIf="isAuth && isCandidate">
            <a mat-icon-button [matMenuTriggerFor]="Candidatemenu"> <mat-icon>account_circle</mat-icon></a>
          </li> -->


        <!-- <ng-container *ngIf="!isAuth">
          <li class="nav-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="login"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="register"
              >Register</a
            >
          </li>
        </ng-container> -->

        </ul>

      </div>
    </div>
</nav>


<!-- <mat-menu #Companymenu="matMenu">
  <button mat-menu-item  routerLink="companyDashboard" class="dropdown-link">
    <mat-icon>list_alt</mat-icon>
    <span> <a>Dashboard Company</a></span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span><a >Logout</a></span>
  </button>
</mat-menu>

<mat-menu #Candidatemenu="matMenu">
  <button mat-menu-item  routerLink="candidateDashboard" class="dropdown-link">
    <mat-icon>list_alt</mat-icon>
    <span> <a>Dashboard candidate</a></span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span><a >Logout</a></span>
  </button>
</mat-menu> -->